.navbar{
    
    background-color: #3f80d4 ;
}

.jumbotron{
    
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #3f80d4 ;
    color:floralwhite;
    
}

.row-header{
    min-height: 40%;
}
p{
    font-size: 1.1rem;
}